################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LotteryAPI/obj/Debug/net7.0/LotteryAPI.assets.cache
*.wsuo
*.vsidx
*.v2
/LotteryAPI/obj/LotteryAPI.csproj.nuget.dgspec.json
/LotteryAPI/obj/project.assets.json
/LotteryAPI/obj/project.nuget.cache
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.GeneratedMSBuildEditorConfig.editorconfig
*.suo
/lottery/obj/Debug/net6.0/lottery.assets.cache
/lottery/obj/Debug/net6.0/lottery.GeneratedMSBuildEditorConfig.editorconfig
/lottery/obj/lottery.csproj.nuget.dgspec.json
/lottery/obj/project.assets.json
/lottery/obj/project.nuget.cache
/.vs/ProjectEvaluation
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.csproj.FileListAbsolute.txt
/LotteryAPI/LotteryAPI.csproj.user
*.json
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.genruntimeconfig.cache
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.dll
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.csproj.CoreCompileInputs.cache
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.pdb
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.AssemblyInfoInputs.cache
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.AssemblyInfo.cs
/LotteryAPI/obj/Debug/net7.0/apphost.exe
/LotteryAPI/obj/Debug/net7.0/refint/LotteryAPI.dll
/LotteryAPI/bin/Debug/net7.0/LotteryAPI.pdb
/LotteryAPI/bin/Debug/net7.0/LotteryAPI.dll
/LotteryAPI/bin/Debug/net7.0/LotteryAPI.exe
/LotteryAPI/obj/Debug/net7.0/ref/LotteryAPI.dll
*.config
/LotteryAPI/bin/Debug/net7.0/AutoMapper.dll
/LotteryAPI/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/LotteryAPI/bin/Debug/net7.0/BCrypt.Net-Next.dll
/LotteryAPI/obj/Debug/net7.0/LotteryAPI.csproj.AssemblyReference.cache
/LotteryAPI/bin/Debug/net7.0/LotteryAPI.deps.json
/LotteryAPI/bin/Debug/net7.0/appsettings.json
